<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eleventy Serverless Demo, OAuth Secured Pages</title>
		<style>
		body {
			font-family: system-ui, sans-serif;
		}
		button {
			font-family: inherit;
		}
		</style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>