---
permalink:
  dynamic: "/secure/"
secure:
  unauthenticatedRedirect: "/"
---
<h1>{{ user.name or user.full_name }}, this page is secure.</h1>

<form action="{{ page.url }}" method="get">
  <input type="hidden" name="logout" value="">
  <button type="submit">Logout</button>
</form>

<br>

<img src="{{ user.avatar_url or user.avatar }}" alt="Avatar for {{ user.name or user.full_name }}">

<h2>Your user information:</h2>
<pre>
{{ user | dump(2) }}
</pre>