---
permalink:
  dynamic: "/secure/"
secure:
  unauthenticatedRedirect: "/"
---
<h2>{{ user.name or user.full_name }}, this page is secure.</h2>

{% include "logout.njk" %}

<img src="{{ user.avatar_url or user.avatar or user.picture }}" alt="Avatar for {{ user.name or user.full_name }}">

<h3>Your user information:</h3>
<pre>
{{ user | dump(2) }}
</pre>